@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Border Box */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Base Font Size (1rem = 10px) */
html {
  font-size: 62.5%;
}

/* Stablizing Base Style */
body, ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

time {
  font-weight: bold;
}

/* Convenient Classes */
.wrapper {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

html {
  background: #f6f6f6;
}

body {
  color: #2e2e2e;
  font-family: 'Lora';
  font-size: 1.3rem;
  line-height: 21px;
  letter-spacing: 0.3px;
}

header, nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(../assets/home-1.jpeg);
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  padding: 10px;
}

header label {
  font-size: 2rem;
  position: absolute;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
nav {
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1.1px;
  line-height: 15px;
  margin: 25px;
}

h2 {
  letter-spacing: 0.5px;
  line-height: 20px;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 0.5px;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  line-height: 0.5px;
  margin: 0px 0 40px;
  padding: 0;
}

nav ul {
  margin-left: 27px;
}

nav ul li {
  list-style: none;
  margin: 0px 21px;
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid #63A503;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + ul {
  right: 0;
}

i {
  color: #2e2e2e;
  font-weight: 900;
}

q {
  font-family: 'Lora';
  font-style: italic;
  line-height: 20px;
  letter-spacing: 0.6px;
  position: relative;
}

q::before,
q::after {
  font-size: 12.3rem;
}

q::before {
  left: -95px;
  top: 18px;
}

q::after {
  left: 51vw;
  top: 82px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

footer {
  background: #2e2e2e;
}

footer h3 {
  color: #63A503;
}

footer button {
  background: #63A503;
  border: none;
  height: 20px;
  padding: 0;
  width: 42px;
}

/* Header */
header .flexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogHeader, .contactHeader {
  background-repeat: no-repeat;
  background-size: contain;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
  min-height: 75vh;
}

.contactHeader {
  background-image: url(../assets/contact-1.jpeg);
  min-height: 61vh;
  min-width: 100%;
}

.contact {
  margin-right: 66px;
}

.navBag {
  position: relative;
}

.navBag .shoppingBag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  left: -42px;
  bottom: 4px;
}

.navBag .shoppingBag .bag {
  font-size: 2.3rem;
}

.navBag .shoppingBag .bag .checkoutLink:visited {
  color: #2e2e2e;
}

.navBag .shoppingBag .countContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: 13px;
  right: 8px;
}

.navBag .shoppingBag .countContainer .count {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #63A503;
  border-radius: 50%;
  color: #f6f6f6;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 2rem;
  font-weight: 900;
  height: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
}

.shoppingBag, .count, .countContainer, .halfScreen, .relativeParent, .ourRestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  margin-left: 13px;
}

.search div .fa-search {
  font-size: 2.3rem;
}

/* index.html */
.afterHeader .flexContainer, .halfScreen, .ourRestaurants, .testimonial .flexContainer, .relativeParent {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.afterHeader .halfScreen {
  margin: 0;
}

.afterHeader .halfScreen:last-child {
  background: #e7e7e7;
}

div.flexContainer.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.halfScreen {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 20px 0;
  width: 50vw;
}

.halfScreen li, .gallery li {
  list-style: none;
}

.halfScreen li, .testimonial p {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.halfScreen li, .halfScreen li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.halfScreen li div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.halfScreen i {
  font-size: 2.5rem;
  line-height: 0.2;
}

.mostPopular h2,
.ourRestaurants h2,
.testimonial h2 {
  padding: 25px 0px 11px 0px;
}

.mostPopular p {
  width: 70%;
}

.greenBackButton {
  background: #63A503;
  color: #f6f6f6;
  font-family: 'Raleway';
  margin-top: 15px;
  padding: 13px 35px;
  text-transform: uppercase;
}

.greenBackButton:active {
  -webkit-box-shadow: inset 1px 1px 6px 1px #2e2e2e;
          box-shadow: inset 1px 1px 6px 1px #2e2e2e;
}

img.cabbage,
img.taco {
  width: 50.5%;
}

img.cabbage {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

img.taco {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.menuCategories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 0 auto 0 26px;
  padding: 30px;
}

.menuCategories li {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 21px;
  padding: 21px;
}

.menuCategories li div h3 {
  font-size: 1.4rem;
  margin-left: 14px;
  width: 100%;
}

.menuCategories li p {
  margin-left: 45px;
}

.menuCategories li:nth-child(5), .menuCategories li:last-child {
  margin: 0 0 10.5px;
  padding-bottom: 0;
}

.ourRestaurants {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
  padding-top: 150px;
}

.ourRestaurants .relativeParent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ourRestaurants .relativeParent img:first-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  left: 455px;
  bottom: 240px;
  width: 22%;
}

.ourRestaurants h2 {
  margin-top: 20px;
}

.ourRestaurants .greenLine {
  border: 1px solid #63A503;
  margin-bottom: 18px;
  width: 9%;
}

.ourRestaurants p {
  text-align: center;
  width: 50%;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.gallery img {
  margin: 0;
  max-width: 100%;
}

.testimonial {
  background: #deee9b;
}

.testimonial .flexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50vw;
  text-align: center;
}

.testimonial .flexContainer p {
  position: relative;
  text-align: left;
}

.testimonial .flexContainer p::after, .testimonial .flexContainer q::before, .testimonial .flexContainer q::after {
  color: #fff;
  position: absolute;
}

.testimonial .flexContainer p::after {
  content: "< \00a0 \00a0 \00a0>";
  font-size: 3.5rem;
  font-weight: 700;
  left: 23.5vw;
  top: 104px;
}

/* blog.html */
.blog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog article, .blog .share, .blog .bioContainer {
  border-bottom: 1px solid #e7e7e7;
}

.blog article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog article .byLine {
  margin: 5px 0 30px;
}

.blog article p {
  margin: 0 0 30px;
}

.blog article p:last-child {
  margin: 0;
}

.blog .tags {
  padding: 30px 0 15px;
}

.blog .share {
  padding: 15px 0 30px;
}

.blog .tags span, .blog .share span {
  font-family: 'Raleway';
  text-transform: uppercase;
}

.blog .tags ul, .blog .share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 25%;
}

.blog .bioContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .bioContainer .bio {
  background: #e7e7e7;
  padding: 42px;
  width: 81%;
}

.blog .bioContainer .bio h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  line-height: initial;
}

.blog .bioContainer .bio p {
  line-height: 2.1;
}

.blog article, .bioContainer, .relatedPosts, .commentsSection, .commentForm {
  padding: 50px 0;
}

.headshot {
  max-width: 16%;
}

.posts {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.posts li:nth-of-type(2) {
  margin: 0 25px;
}

.posts h3 {
  margin-bottom: 50px;
}

.post h3 {
  margin: 24px 0;
}

.commentsSection, .comments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commentsSection .comment1, .commentsSection .comment2, .comments .comment1, .comments .comment2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 25px 0;
}

.commentsSection .comment1 img, .commentsSection .comment2 img, .comments .comment1 img, .comments .comment2 img {
  height: 100%;
  margin-right: 30px;
  max-width: 5vw;
}

.commentsSection .comment1 .flexBox, .commentsSection .comment2 .flexBox, .comments .comment1 .flexBox, .comments .comment2 .flexBox {
  background: #e7e7e7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.commentsSection .comment1 .flexBox p, .commentsSection .comment2 .flexBox p, .comments .comment1 .flexBox p, .comments .comment2 .flexBox p {
  margin: 7px;
}

.commentsSection .comment1 .flexBox p span, .commentsSection .comment2 .flexBox p span, .comments .comment1 .flexBox p span, .comments .comment2 .flexBox p span {
  font-family: 'Raleway';
}

.commentsSection .comment1 .flexBox .date, .commentsSection .comment2 .flexBox .date, .comments .comment1 .flexBox .date, .comments .comment2 .flexBox .date {
  font-family: 'Raleway';
}

.commentsSection .comment1 .flexBox::before, .commentsSection .comment2 .flexBox::before, .comments .comment1 .flexBox::before, .comments .comment2 .flexBox::before {
  color: #e7e7e7;
  content: "◀";
  position: absolute;
  top: 4%;
  right: 99.5%;
}

.commentForm {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commentForm fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.commentForm fieldset p {
  color: #999999;
  margin: 10px 0 20px;
}

.commentForm fieldset .flexBox {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentForm fieldset .flexBox input {
  width: calc(100% / 3 - 20px);
}

.commentForm fieldset .commentForm h2 {
  margin-bottom: 20px;
}

.commentForm fieldset input, .commentForm fieldset textarea {
  background: #f6f6f6;
  border: 2px solid #e7e7e7;
  font-family: "Lora";
  margin: 8px 0;
  padding: 15px;
  resize: none;
}

.commentForm .greenBackButton {
  padding: 20px 30px;
}

/* contact.html */
.contactPage .contactSideFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 29px 28px 40px;
  width: 133vw;
}

.contactForm, .contactSidePanel {
  padding: 34px;
}

.contactForm {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
}

.contactForm > .flexBox {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contactForm .contactForm h2 {
  margin-bottom: 20px;
}

.contactForm input, .contactForm textarea {
  background: #e7e7e7;
  border: none;
  font-family: "Lora";
  margin: 8px 0;
  padding: 15px;
  resize: none;
}

.contactForm input:first-child {
  margin-right: 14px;
}

.contactForm fieldset, .contactForm input, .contactForm textarea {
  width: 100%;
}

.contactForm .contactButton {
  background: none;
  border: none;
  color: #63A503;
  cursor: pointer;
  font-family: 'Raleway';
  margin-top: 15px;
  padding: 0;
  text-transform: uppercase;
}

.contactSidePanel {
  background: #e7e7e7;
}

.contactSidePanel h2, .contactSidePanel h3 {
  margin: 60px 0 40px;
}

.contactSidePanel p {
  margin: 20px 0 30px 0;
  width: 61%;
}

.contactSidePanel p.lowMargin {
  margin: 10px 0 10px 0;
}

.contactSidePanel p.lowMargin:nth-child(4) span {
  font-family: "Raleway";
  font-weight: bold;
}

.contactSidePanel p.lowMargin:nth-child(4) ~ p {
  color: #999999;
}

.contactSidePanel p.lowMargin:nth-child(5) {
  font-style: italic;
}

.contactSidePanel p:last-child {
  margin: 20px 0 50px;
}

/* Footer */
.columnContainer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.columnContainer .footerColumn {
  color: #999999;
  margin: 139px 0;
  width: calc(100% / 6);
}

.columnContainer .footerColumn p {
  font-size: 1rem;
  line-height: 2.1;
}

.columnContainer .footerColumn .deliciousColumn p,
.columnContainer .footerColumn .deliciousColumn p:nth-child(3) {
  margin-bottom: 25px;
}

.columnContainer .footerColumn .deliciousColumn p:first-child {
  margin-bottom: 0;
}

.columnContainer .footerColumn .recentPosts p {
  line-height: 3.5;
}

.columnContainer .footerColumn .newsletterForm {
  height: 50%;
}

.columnContainer .footerColumn .newsletterForm .emailLabel {
  font-size: 1rem;
  line-height: 2.1;
}

.columnContainer .footerColumn .newsletterForm .flexContainer {
  margin-top: 24px;
}

.columnContainer .footerColumn .newsletterForm .flexContainer .email {
  background-color: #5b5b5b;
  border: none;
  border-radius: 0;
  color: #999999;
  padding: 6px;
  width: 100%;
}

.columnContainer .footerColumn .newsletterForm .flexContainer .email:focus {
  padding: 4px;
}

.columnContainer .footerColumn .newsletterForm .flexContainer .greenBackButton {
  border: none;
  font-size: 2rem;
  height: 100%;
  margin: 0;
  padding-right: 33px;
}

.copyright {
  background: #222;
  color: #999999;
  font-family: 'Raleway';
  padding: 20px;
  width: 100%;
}

.copyright p {
  margin-left: 11vw;
}

.copyright span {
  color: #63A503;
  text-transform: uppercase;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    background-position-x: center;
    min-height: 50vh;
    height: 50vh;
  }
  header .headerNav {
    position: absolute;
    width: 90%;
  }
  header .headerNav label {
    visibility: visible;
  }
  header .headerNav ul {
    background: rgba(202, 202, 202, 0.6);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 2.5rem;
    margin: 0;
    position: relative;
    top: 48px;
    right: 150%;
    height: 40vh;
    width: 92vw;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .headerNav ul li {
    padding: 23px;
    margin: 0;
  }
  header .headerNav ul li .contact {
    margin-right: 0;
  }
  header .headerNav ul li .shoppingBag {
    position: relative;
    left: 7px;
    bottom: 5px;
  }
  header .headerNav ul li .shoppingBag .bag {
    font-size: 3.3rem;
  }
  header .headerNav ul li .shoppingBag .count {
    font-size: 3rem;
    height: 40px;
    width: 40px;
  }
  header .headerNav ul .search {
    margin-left: 0;
    position: absolute;
    bottom: 98%;
    right: 28%;
  }
  header .headerNav ul .search div .fa-search {
    font-size: 3.3rem;
  }
  .blogHeader, .contactHeader {
    background-size: cover;
    min-height: 51vh;
  }
  .contactHeader .flexContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cabbageRow div.flexContainer.row, .tacoRow div.flexContainer.row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cabbageRow div.flexContainer.row img.cabbage, .cabbageRow div.flexContainer.row img.taco, .tacoRow div.flexContainer.row img.cabbage, .tacoRow div.flexContainer.row img.taco {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .cabbageRow div.flexContainer.row .halfScreen, .tacoRow div.flexContainer.row .halfScreen {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .gallery img {
    margin: 0 auto;
    max-width: 70%;
  }
  .ourRestaurants .relativeParent img:first-child {
    left: 287px;
    bottom: 156px;
  }
  .columnContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columnContainer .footerColumn {
    margin: 50px auto;
    text-align: center;
    width: 75%;
  }
  q::after {
    left: 51vw;
    top: 212px;
  }
  .testimonial .flexContainer p::after {
    left: 13vw;
    top: 228px;
  }
  h4 {
    margin-bottom: 25px;
  }
}

/* Landscape phones and down */
